<!DOCTYPE html>
<html>
<head>
    <title>HobbyHub</title>
</head>
<body>

    <nav style="background-color:#222; padding:10px; position:relative; z-index:9999;">
        <a href="/" style="color:white; margin-right:10px;">Home</a>
        <a href="/Home/AboutHobby" style="color:white; margin-right:10px;">About Hobby</a>
        <a href="/Home/AboutMe" style="color:white; margin-right:10px;">About Me</a>
        <a href="/Games" style="color:white; margin-right:10px;">Games</a>
        <a href="/Home/CleanPage" style="color:white;">Clean Page</a>
    </nav>

    <div style="padding:20px;">
        @RenderBody()
    </div>

</body>
</html>