@model IEnumerable<HobbyHub.Models.Game>

<h2>Game Library</h2>

<p>
    <a href="/Games/Create">Add Game</a>
</p>

@if (Model == null || !Model.Any())
{
    <ul>
        <li>Animal Crossing</li>
        <li>Super Mario RPG (Switch Remake)</li>
        <li>Fatal Frame II</li>
    </ul>
}
else
{
    <table border="1" cellpadding="8">
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Release Year</th>
            <th>Action</th>
        </tr>

        @foreach (var game in Model)
        {
            <tr>
                <td>@game.Title</td>
                <td>@game.Genre</td>
                <td>@game.ReleaseYear</td>
                <td>
                    <a href="/Games/Delete/@game.Id">Delete</a>
                </td>
            </tr>
        }
    </table>
}